<script src="/socket.io/socket.io.js"></script>

<h1 class="alert alert-success p-4">
    <div class="w-50 float-left">
        Bienvenido {{nombre}}
    </div>
    <div class="float-right">
        <button class="btn btn-warning" onclick="location.href='/logout'">
            <b>Desloguear</b><br><img src="{{foto}}" width="75" alt="">
        </button>
    </div>
    <b><a href="#">{{email}}</a></b>
</h1>

<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h2>Ingrese Producto</h2>
            <div class="form-group">
                Nombre: <input id="title-input" class="form-control" type="text">
                Precio: <input id="price-input" class="form-control" type="text">
                Foto URL: <input id="thumbnail-input" class="form-control" type="text">
            </div>
            <button id="add-button" class="btn btn-primary">Agregar</button>
        </div>
        <div id="table-wrapper"></div>
    </div>
</div>

<div class="jumbotron" id="centro-mensajes">
    <h1>Centro de Mensajes (Compresión: <span id="compression"></span>)</h1>
    <br>
    <input type="text" id="email-input" class="form-control w-50 my-2 mr-2" placeholder="email">
    <input type="text" id="firstName-input" class="form-control w-50 my-2 mr-2" placeholder="nombre">
    <input type="text" id="lastName-input" class="form-control w-50 my-2 mr-2" placeholder="apellido">
    <input type="text" id="age-input" class="form-control w-50 my-2 mr-2" placeholder="edad">
    <input type="text" id="nickname-input" class="form-control w-50 my-2 mr-2" placeholder="alias">
    <input type="text" id="avatar-input" class="form-control w-50 my-2 mr-2" placeholder="avatar">
    <hr>
    <div id="messages"></div>

    <form class="form-inline mt-3" onsubmit="return addMessage(this)" autocomplete="off">
        <input disabled type="text" id="msj-input" class="form-control my-2 mr-2" placeholder="Ingresa un mensaje...">
        <input disabled id="send-button" class="btn btn-primary my-2" type="submit" value="Enviar">
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
<script src="js/handlebars-v4.7.6.js"></script>
